@model Restaurant.Models.DetailsRestro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="Alert"/>
<partial name="ShowRating" />
<div class="d-flex" >

    
    <div>
        <img src="~/lib/Images/@Html.DisplayFor(model => model.Photo)" style="width:300px; height: 400px; " /><br /><br />
        <partial name="Ratings"/>

        

    </div>
    <div style="margin-left: 20px;">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <td>@Html.DisplayFor(model => model.Location)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DetailedDescription)</th>
                <td id="description">@Html.DisplayFor(model => model.DetailedDescription)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PhoneNo)</th>
                <td>@Html.DisplayFor(model => model.PhoneNo)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Time)</th>
                <td>@Html.DisplayFor(model => model.Time)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CloseTime)</th>
                <td>@Html.DisplayFor(model => model.CloseTime)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Website)</th>
                <td>
                    @{
                        string websiteUrl = Model.Website.StartsWith("http://") || Model.Website.StartsWith("https://") ? Model.Website
                        : "https://" + Model.Website;
                    }
                    <a href="@websiteUrl" target="_blank">@Html.DisplayFor(modelItem => Model.Website)</a>
                </td>
            </tr>
            <tr>
                <th>Average Rating</th>
            <td id="ratingContainer"> </td>
        </tr>
        </table>

@*         <div>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a>
            }
            <a class="btn btn-danger" asp-action="Index">Back to List</a>
        </div> *@
    </div>
  
    
    

    
                    
</div><br />
<partial name="Comments" />
<partial name="GetComments" />
