@model Restaurant.Models.DetailsRestro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>About</h4>
    <hr />
    <div>
        <img src="~/lib/Images/@Html.DisplayFor(model => model.Photo)" style="width:500px; height: 500px;" />
    </div>
    <dl class="row">
        @* dd class="col-sm-10">
            <img src="~/lib/Images/@Html.DisplayFor(model => model.Photo)" />
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>
        <dd class = "col-sm-10" id="description">
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CloseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @{
                string websiteUrl = Model.Website.StartsWith("http://") || Model.Website.StartsWith("https://") ? Model.Website
                : "https://" + Model.Website;
            }
            <a href="@websiteUrl" target="_blank">@Html.DisplayFor(modelItem => Model.Website)</a>
        </dd>
    </dl>
</div>


<div>
    <a  class="btn btn-success"asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> 
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>
