@model IEnumerable<Restaurant.Models.DetailsRestro>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    
</head>
<body>
   

    @if (User.IsInRole("Admin"))
    {
        <p>
            <a class="btn btn-outline-danger" asp-action="Create">Add New Restro.</a>
        </p>
    }

    <table id="tabledata" class="display">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Photo)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNo)</th>
                <th>@Html.DisplayNameFor(model => model.Website)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="~/lib/Images/@Html.DisplayFor(modelItem => item.Photo)" style="width: 150px; height: 250px;" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNo)</td>
                    @{
                        string websiteUrl = item.Website.StartsWith("http://") || item.Website.StartsWith("https://")
                        ? item.Website : "https://" + item.Website;
                    }
                    <td><a href="@websiteUrl" target="_blank">@Html.DisplayFor(modelItem => item.Website)</a></td>
                    <td>
                        <div class="actionbtn">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            }
                            <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>

        $(document).ready(function () {

            $('#tabledata').DataTable({
                "lengthMenu": [3, 10, 50, 100],
            });

        });

    </script>
    @* <partial name="Alert" /> *@
</body>
</html>
